@import "tailwindcss";


/* 修改antd global样式 */
.ant-form-item-label>label {
  color: #fafafa;
}

.ant-modal-close-x,
.ant-modal-title {
  color: #fafafa;
}
.ant-radio-label {
  color: #fafafa;
}
.ant-input-disabled{
  color: #fafafa;
}